<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @attendance.event.admin.first_name %> !</h1>
    <p>
      <h2>Nouvelle inscrit </h2><br> <%= @attendance.user.first_name %>  est inscrit a vootre evenement
    </p>
  </body>
</html>
